<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Multi Timer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="angular.min.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <link rel="shortcut icon" type="image/png" href="icon.png" />
  <script src="main.js"></script>
</head>
<body ng-app="app">
  <div ng-controller="controller as cont" id="app" style="display:none">
    <div class="buttons">
        <button ng-if="cont.timers[cont.currentTimer].active && !cont.timers[cont.currentTimer].proc && !cont.timers[cont.currentTimer].finished" ng-click="cont.start(cont.currentTimer)" >Alarm {{cont.currentTimer+1}} Start</button>
        <button ng-if="cont.timers[cont.currentTimer].active && cont.timers[cont.currentTimer].proc" ng-click="cont.pause(cont.currentTimer)" >Alarm {{cont.currentTimer+1}} Pause</button>
        <button ng-if="cont.timers[cont.currentTimer].active && cont.timers[cont.currentTimer].ringing" ng-click="cont.stopRinging(cont.currentTimer)" >Alarm {{cont.currentTimer+1}} Stop</button>
    </div>
    <div class="timers">
      <div ng-repeat="(index,timer) in cont.timers" class="timer">
        
        <div class="progress" >
          <div class="status" style="width:{{cont.width(timer)}};background-color:{{timer.color}}"></div>
          <div class="label">Alarm {{index+1}}</div>
        </div>
        <div class="time" >
          <div>
            {{timer.currentMinutes}}
            <br>
            <b>{{timer.timeMinutes}}</b>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <audio id="alarm"  src="doorbell.mp3" type="audio/mp3" ></audio>
  <script src="cordova.js"></script>
</body>
</html>